.app {
  padding: 40px;
  display: flex;
}

.todolist {
  max-width: 500px;
  padding: 40px;
  border: 3px dashed lightcoral;
  border-radius: 5px;
  text-align: center;
  background-color: #f7f1f7;
}

.td-title {
  color: #7d1146;
  font-size: 26px;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 30px;
}

.text-error {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

.error {
  border: 2px solid red;
}

p {
  text-align: center;
  color: #7d1146;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li {
  display: flex;
  gap: 10px;
  list-style: none;
}

.task {
  font-weight: bold;
  color: lightcoral;
}

.task-done {
  opacity: 0.5;
}

.buttons-wrapper {
  display: flex;
  padding: 20px;
  gap: 10px;
}

.buttons-wrapper > button {
  padding: 8px 12px;
  border: 1px solid lightcoral;
  border-radius: 5px;
  background-color: rgba(240, 128,128, 0.7);
  color: white;
  width: 100px;
}

.filter-btn-active {
  background-color: #7d1146 !important;
  font-weight: bold;
}
